.container{
    height: 500px;
    display: grid;
    background-color: brown;
    border: 3px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:5px 5px 5px 5px ;


}






.box{
    background-color: aqua;
    box-sizing:border-box;
}